<h2>To add a new load, click this <a href="/loads/new">link</a><br><br></h2>

<% @loads.each do |load| %>
<h2> Load Numer: <%= load.id %> </h2>
<br>
    Pallet Count: <%= load.pallet_count %><br>
    Load Weight: <%= load.weight %><br>
    Description: <%= load.description %><br>
    Hazardous Materials?: <%= load.haz_mat %><br>
<br>

<h3>To see more information on each route, click <a href="/routes">here</a></h3><br><br>
<% end %>
