<h1>Welcome <%= @carrier.username %>, here are your active loads!</h1>
<br>
<% @carrier.loads.each do |load| %>
<h2>Pallet Count: <%= load.pallet_count %><br></h2>
<h2>Weight: <%= load.weight %><br></h2>
<h2>Description: <%= load.description %><br></h2>
<h2>Hazardous Materials?: <%= load.haz_mat %><br></h2>
<br>
<% end %>


