<h1>Here is your current delivery schedule, <%= current_user.username %>!</h1>
<h1><a href="/loads/new"><button type="button">Create new Load here</button></a></h1>
<br>
<% @carrier.loads.each do |load| %>
<a href=<%= "/loads/#{load.id}" %>><button type="button">Update or Delete</a><br><br>
Pallet Count: <%= load.pallet_count %><br>
Weight: <%= load.weight %><br>
Load Description: <%= load.description %><br>
Hazardous Matarials?: <%= load.haz_mat %><br>
Load ID:  <%= load.id %><br>
Carrier ID: <%= load.carrier_id %><br>
<br>
<a href="/routes">Create your route here</a><br><br>
<% end %>





