<h2>Pallet Count: <%= @load.pallet_count %><br><h2>
<h2>Weight: <%= @load.weight %><br><h2>
<h2>Load Description: <%= @load.description %><br><h2>
<h2>Hazardous Matarials?: <%= @load.haz_mat %><br><h2>
<h2>Load ID: <%= @load.id %> </h2>